{% extends "template.html" %}

{% block content %}
    <h1 class="text-center"> Message Board </h1>
    <div class="container">
        <form method="POST">
            <div id="title" class="mb-3">
                {{ form.title.label(class_="form-label") }}
                {{ form.title(class_="form-control") }}
            </div>
            <div id="message" class="mb-3">
                {{ form.message.label(class_="form-label") }}
                {{ form.message(class_="form-control") }}
            </div>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
   
    <div class="container">
        <div class="row row-cols-3">
            {% for msg in messages %}
                <div class="card my-1">
                    <div class="card-body">
                        <h5 class="card-title">{{msg.title}}</h5>
                        <p class="card-text">{{msg.message}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}